<?php

function dbConnect() {
  $dbaddress = "localhost";
  $dbuser = "YOUR_DB_USER";
  $dbpass = "YOUR_DB_PASS";
  $dbname = "YOUR_DB_NAME";
  
	$conn = new mysqli($dbaddress, $dbuser, $dbpass, $dbname);

  if ($mysqli->connect_error) {
      die('Connect Error (' . $mysqli->connect_errno . ') '
            . $mysqli->connect_error);
  }
	  return $conn;
}
